{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <div class="card panel-info mb-3">
      <div class="card-header">info
      </div>
      <div class="card-body">
        {% if msg is string %}
          {{msg}}
        {% else %}
          {% for line in msg %}
            {{line}}<BR>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.file }}</TD>
      </TR>
      <TR>
        <TD>{{ form.skip_modules }} {{ form.skip_modules.label }}</TD>
      </TR>
      <TR>
        <TD>{{ form.gid }}</TD>
      </TR>
      </TABLE>
      <div>
        <button type="submit" name="submit">Restore</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
