{% from "macros.html" import nav_link with context %}
{% from "macros.html" import toggle_login_link with context %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAD-QC Dashboard</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='sticky-footer-navbar.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='tablesorter/theme.wadred.css') }}" rel="stylesheet" media="screen">
    {% if witheditor %}
    <link href="{{ url_for('static', filename='jsoneditoronline/jsoneditor.min.css') }}" rel="stylesheet" type="text/css">
    {% endif %}
    <link href="{{ url_for('static', filename='collapsiblelist/clist.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='wad2.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!-- Placed at the end of the document will make pages load faster, but also redraw table on slow machines -->
  <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesorter/jquery.tablesorter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesorter/jquery.tablesorter.widgets.min.js') }}"></script>
  <script src="{{ url_for('static', filename='collapsiblelist/CollapsibleLists.js') }}"></script>
  {% if witheditor %}
  <script src="{{ url_for('static', filename='jsoneditoronline/jsoneditor.min.js') }}"></script>
  {% endif %}
  {% block refreshpage %}{% endblock %}
  <script>
  $(document).ready(function(){
    {% if numtables %}
    {% for i in range(numtables) %}
    $("#sortTable{{ i }}").tablesorter({widgets:['zebra', 'filter']});
    {% endfor %}
    {% else %}
    $("#sortTable").tablesorter({widgets:['zebra', 'filter']});
    $("#sortTable2").tablesorter({widgets:['zebra', 'filter']});
    {% endif %}
    CollapsibleLists.apply();
    {% if add_refresh is defined %}
    checkReloading();
    {% endif %}
  });
  </script>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
     <nav class="navbar navbar-expand-md navbar-dark fixed-top wad-nav-dashboard-bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('waddashboard.home') }}">WAD-QC Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          {{ nav_link('admin.default', 'Admin') }}
          {{ nav_link('waddashboard.qc', 'Dashboard') }}
          </ul>
          <ul class="navbar-nav navbar-right">
            {{ toggle_login_link('auth.signin', 'Log in', 'auth.logout', 'Log out') }}
          </ul>
        </div>
      </div>
     </nav>
    </header>

    <!-- Begin page content -->
    <div class="container-fluid">
        <main class="col" role="main">
        <br>
        {% block content %}{% endblock %}
        <br>
        </main>
    </div>

    <footer class="footer wad-nav-dashboard-bg-dark">
      <div class="container-fluid">
        <span class="float-left">Copyright © 2016</span>
        <span class="float-right"><img src="{{ url_for('static', filename='nvkf-logo-60-white.gif') }}" alt="NVKF" height="60" width="60"><a class="wad-brand-link" href="https://www.nvkf.nl">NVKF</a></span>
     </div>
    </footer>
  </body>
</html>
